.login-page {
    background: rgba(255,255,255,0.9);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2%;
    height: 85%;
    width: 40%;
    min-width: 400px;
}

.logo {
    margin-top: 0;
    font-family: Alfa Slab One;
    font-weight: normal;
    font-size: 50px;
    color: #FFBF00;
    text-shadow: .5px .5px  rgba(85, 85, 85, 0.25);
}

.welcome {
    font-size: 25px;
}

input {
    display: block;
    height: 10%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 2px 2px rgba(255, 191, 0, 0.25);
    border-top: 0px;
    border-left: 0px;
    border-radius: 50px;
    margin: 10px;
    width: 90%;
}

::placeholder {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #AAA;
    padding: 5px;
}

.signup-form {
  height: 100%;
  width: 100%;
}

.signin-btn {
    border-top: 0px;
    border-left: 0px;
    background: #FFBF00;
    box-shadow: 0px 4px 4px rgba(255, 191, 0, 0.25);
    border-radius: 50px;
    height: 11%;
    color: #FFF;
    font-size: 16px;
    width: 50%;
}

.signup-btn {
    font-weight: bold;
    border: 0px;
    color: #FFBF00;
    font-size: 16px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: .5px .5px  rgba(85, 85, 85, 0.25);
  }